body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1007%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(159%2c 213%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M1512 560L0 560 L0 362.76Q25.44 268.19%2c 120 293.63Q195.25 248.88%2c 240 324.14Q320.69 284.83%2c 360 365.53Q385.11 270.64%2c 480 295.75Q526.13 269.88%2c 552 316.02Q596.17 240.19%2c 672 284.36Q730.03 270.39%2c 744 328.42Q822.44 286.86%2c 864 365.3Q894.07 275.37%2c 984 305.43Q1057.94 259.37%2c 1104 333.31Q1114.04 271.35%2c 1176 281.39Q1218.56 251.95%2c 1248 294.51Q1294.1 268.61%2c 1320 314.71Q1384.29 307%2c 1392 371.28Q1443.63 302.91%2c 1512 354.55z' fill='rgba(50%2c 94%2c 127%2c 1)'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 407.52Q9.08 344.6%2c 72 353.67Q114.44 324.12%2c 144 366.56Q243.92 346.48%2c 264 446.39Q306.71 369.1%2c 384 411.8Q413.94 321.74%2c 504 351.67Q552.07 327.75%2c 576 375.82Q651.41 331.24%2c 696 406.65Q748.63 339.28%2c 816 391.92Q873.97 377.89%2c 888 435.86Q913.64 341.5%2c 1008 367.15Q1050.09 337.24%2c 1080 379.33Q1131.89 359.22%2c 1152 411.11Q1223.28 362.39%2c 1272 433.68Q1295.18 336.86%2c 1392 360.04Q1437.47 333.51%2c 1464 378.99z' fill='rgba(71%2c 125%2c 159%2c 1)'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 491.58Q2.69 422.27%2c 72 424.96Q160.95 393.91%2c 192 482.87Q205.27 424.14%2c 264 437.42Q294.2 395.62%2c 336 425.82Q409.72 379.54%2c 456 453.26Q535.1 412.36%2c 576 491.46Q619.33 462.78%2c 648 506.11Q690.6 428.71%2c 768 471.3Q812.4 395.71%2c 888 440.11Q945.6 425.71%2c 960 483.31Q1030.23 433.54%2c 1080 503.78Q1145.87 449.65%2c 1200 515.52Q1213.86 409.38%2c 1320 423.24Q1361.05 392.28%2c 1392 433.33Q1461.77 431.1%2c 1464 500.86z' fill='rgba(93%2c 155%2c 187%2c 1)'%3e%3c/path%3e%3cpath d='M1512 560L0 560 L0 513.79Q36.63 478.42%2c 72 515.05Q167.52 490.57%2c 192 586.09Q242.75 516.84%2c 312 567.58Q362.89 498.47%2c 432 549.36Q482.05 479.41%2c 552 529.47Q577.4 482.88%2c 624 508.28Q717.13 481.41%2c 744 574.54Q785.81 496.35%2c 864 538.15Q906.27 508.42%2c 936 550.69Q982.94 477.63%2c 1056 524.57Q1101.3 449.87%2c 1176 495.17Q1221.09 468.26%2c 1248 513.35Q1333.73 479.08%2c 1368 564.81Q1370.79 495.6%2c 1440 498.39Q1491.07 477.46%2c 1512 528.54z' fill='rgba(185%2c 232%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1007'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    background-color: rgba(185, 232, 255, 1);
}
#main{
    width: 75%;
    height: 100vh;
    border-radius: 15px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    -webkit-box-shadow: 0px 2px 3px 3px rgba(35,57,84,0.4);
    -moz-box-shadow: 0px 2px 3px 3px rgba(35,57,84,0.4);
    box-shadow: 0px 2px 3px 3px rgba(35,57,84,0.4);
    text-align: center;
}

#canvas{
    border: 1px brown solid;
    margin-top: 15vh;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 125;
}
#bgcanvas{
    border: 1px rgb(54, 42, 165) solid;
    margin-top: 15vh;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

#img {
    height: 40px;
    transition: transform 0.2s;
  }

  #banvas{
    border: 1px rgb(99, 42, 165) solid;
    margin-top: 15vh;
    transition: transform 0.2s;
}